@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
.updatereply, .user--comment--section, section.replies,
.replied--containerupdate, .reply, .details-tab > .userinfo--sect, .details-tab, .content-main, .vote--container, .comment--section, body {
  display: flex;
  align-items: center;
  justify-content: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Rubik", sans-serif;
  background-color: hsl(223deg, 19%, 93%);
  font-size: 14px;
  position: relative;
}

main {
  width: 700px;
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

span {
  color: hsl(238deg, 40%, 52%);
  font-weight: 700;
}

.user {
  color: hsl(0deg, 0%, 100%);
  padding: 1px 4px;
  font-weight: 500;
  background-color: hsl(238deg, 40%, 52%);
  border-radius: 3px;
}

.comment--section {
  background-color: hsl(0deg, 0%, 100%);
  padding: 15px;
  border-radius: 5px;
  align-items: flex-start;
  gap: 1rem;
}

.vote--container {
  flex-direction: column;
  background-color: hsl(223deg, 19%, 93%);
  padding: 10px 5px;
  border-radius: 5px;
  gap: 1rem;
  cursor: pointer;
}

.content-main {
  flex-direction: column;
  gap: 0.5rem;
}
.content-main > .content {
  color: hsl(211deg, 10%, 45%);
  width: 600px;
}

.details-tab {
  justify-content: space-between;
  width: 100%;
}
.details-tab > .userinfo--sect {
  gap: 0.5rem;
}
.details-tab > .userinfo--sect > img {
  width: 30px;
}
.details-tab > .userinfo--sect > .name {
  color: hsl(211deg, 10%, 45%);
  font-weight: 700;
}
.details-tab > .userinfo--sect > .time {
  color: hsl(211deg, 10%, 45%);
}

.reply {
  gap: 0.2rem;
  text-transform: capitalize;
  cursor: pointer;
}
.reply:hover {
  opacity: 0.5;
}

.mobile--reply {
  display: none;
}

.replyBoxSection {
  background-color: hsl(0deg, 0%, 100%);
  padding: 15px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 0.5rem;
}
.replyBoxSection .info > img {
  width: 40px;
}
.replyBoxSection > .replyTextArea {
  width: 100%;
  padding: 15px 10px;
  font-family: "Rubik", sans-serif;
  border-radius: 5px;
  border-color: hsl(238deg, 40%, 52%);
  outline: none;
  font-size: 16px;
  height: 80px;
  color: hsl(212deg, 24%, 26%);
  font-weight: 400;
}

.updateComment {
  width: 555px;
  padding: 15px 10px;
  font-family: "Rubik", sans-serif;
  border-radius: 5px;
  border-color: hsl(238deg, 40%, 52%);
  outline: none;
  font-size: 16px;
  height: 80px;
  color: hsl(212deg, 24%, 26%);
  font-weight: 400;
}

button {
  padding: 10px 15px;
  text-transform: uppercase;
  background-color: hsl(238deg, 40%, 52%);
  border: none;
  border-radius: 5px;
  color: hsl(0deg, 0%, 100%);
  cursor: pointer;
}
button:hover {
  opacity: 0.5;
}

.info > button {
  display: none;
}

section.replies,
.replied--containerupdate {
  align-items: stretch;
  margin-top: 10px;
  justify-content: space-between;
}
section.replies > .border,
.replied--containerupdate > .border {
  width: 1px;
  border: 1px solid hsl(211deg, 10%, 45%);
  min-height: 100%;
  margin-left: 40px;
}

.replied--container {
  max-width: 650px;
  margin-left: 30px;
}
.replied--container .content {
  width: 555px;
}

.replied--comment {
  margin-top: 10px;
}

.user--comment--section {
  background-color: hsl(0deg, 0%, 100%);
  padding: 15px;
  align-items: flex-start;
  border-radius: 5px;
  width: 100%;
  gap: 1rem;
}
.user--comment--section .image--section > img {
  width: 35px;
}
.user--comment--section > .commentTextArea {
  width: 100%;
  padding: 15px 10px;
  font-family: "Rubik", sans-serif;
  border-radius: 5px;
  border-color: hsl(238deg, 40%, 52%);
  outline: none;
  font-size: 16px;
  height: 80px;
  color: hsl(212deg, 24%, 26%);
  font-weight: 400;
}

.image--section > button {
  display: none;
}

.updatereply {
  gap: 1rem;
  text-transform: capitalize;
}
.updatereply > .del:hover,
.updatereply .edit:hover {
  opacity: 0.5;
  cursor: pointer;
}

.replied--containerupdate .content {
  width: 555px;
}

@media (max-width: 500px) {
  main {
    max-width: 400px;
  }
  .content-main > .content {
    width: 350px;
  }
  section {
    flex-direction: column-reverse;
  }
  div.vote--container {
    padding: 5px 10px;
    flex-direction: row;
  }
  .replymobile {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .replymobile > .mobile--reply {
    display: flex;
  }
  .desktop--reply {
    display: none;
  }
  .replyBoxSection > button {
    display: none;
  }
  .info > button {
    display: flex;
  }
  .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  section.replies {
    align-items: flex-end;
  }
  section.replies > .border {
    margin-left: 10px;
  }
  .replied--container {
    max-width: 390px;
  }
  .replied--container .content {
    width: 350px;
  }
  .image--section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .image--section > button {
    display: flex;
  }
  .user--comment--section > button {
    display: none;
  }
  .updateComment {
    width: 350px;
  }
}
footer {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

section.hidden {
  display: none;
}

/*# sourceMappingURL=styles.css.map */
