@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

@import "config";

%style-shared {
  display: flex;
  align-items: center;
  justify-content: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  @extend %style-shared;
  font-family: "Rubik", sans-serif;
  background-color: $lightGray;
}

main {
  max-width: 700px;
  margin-top: 20px;
  position: relative;
}

section {
  margin-top: 10px;
}

.container {
  @extend %style-shared;
  align-items: flex-start;
  padding: 15px;
  background-color: $white;
  border-radius: 5px;
  box-shadow: 3px 3px 5px 5px rgba(0, 0, 0, 0.1);

  > .vote--container {
    @extend %style-shared;
    flex-direction: column;
    background-color: $lightGray;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;

    > figure > img:hover {
      fill: $moderateBlue;
    }
  }
}

span {
  padding: 3px 0;
  color: $moderateBlue;
  font-weight: 500;
  font-size: 14px;
}

.content--container {
  margin-left: 20px;

  > .details {
    @extend %style-shared;
    justify-content: space-between;
    margin-bottom: 10px;

    > .image--section,
    > .reply {
      @extend %style-shared;
    }

    > .reply {
      color: $moderateBlue;
      cursor: pointer;

      &:hover {
        opacity: 0.5;
      }
    }

    > .image--section > img {
      width: 30px;
    }

    > .reply > :first-child {
      margin-right: 5px;
    }
  }
}

.name {
  padding: 0 10px;
  font-weight: 700;
  font-size: 14px;

  ~ p {
    font-size: 14px;
  }
}

.you {
  padding: 3px 5px;
  background-color: $moderateBlue;
  color: $white;
  border-radius: 5px;
  margin-right: 5px;
}

.content {
  font-size: 15px;
  line-height: 22px;
  color: $grayishBlue;
  font-weight: 400;
}

.reply--section {
  @extend %style-shared;
  align-items: flex-start;
  background-color: $white;
  margin-top: 10px;
  padding: 15px;

  > figure > img {
    width: 35px;
  }

  > textarea {
    width: 100%;
    margin: 0 15px;
    height: 70px;
    border-radius: 5px;
    border-color: $moderateBlue;
    outline: none;
    padding: 10px 15px;
    font-family: "Rubik", sans-serif;
  }

  > button {
    background-color: $moderateBlue;
    padding: 10px 20px;
    color: $white;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      opacity: 0.5;
    }
  }
}

.replies--container {
  @extend %style-shared;
  margin-top: 10px;
  justify-content: space-between;
  align-items: stretch;
  height: 100%;

  > .border--left {
    width: 2px;
    min-height: 100%;
    background-color: $lightGrayishBlue;
  }

  > .replies {
    @extend %style-shared;
    flex-direction: column;
    gap: 1rem;
  }

  .deledit {
    display: flex;
    gap: 1rem;
  }

  .delete {
    color: $softRed;
  }

  .edit {
    color: $moderateBlue;
  }

  .delete,
  .edit {
    @extend %style-shared;
    cursor: pointer;
    gap: 0.2rem;

    &:hover {
      opacity: 0.5;
    }
  }
}

.replied {
  max-width: 600px;
}

.comment--section {
  @extend %style-shared;
  align-items: flex-start;
  background-color: $white;
  padding: 15px;
  margin: 20px 0;
  border-radius: 5px;

  > figure > img {
    width: 35px;
  }

  > textarea {
    width: 100%;
    margin: 0 15px;
    height: 70px;
    border-radius: 5px;
    border-color: $lightGray;
    outline: none;
    padding: 10px 15px;
    font-family: "Rubik", sans-serif;
  }

  > button {
    background-color: $moderateBlue;
    padding: 10px 20px;
    color: $white;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      opacity: 0.5;
    }
  }
}

@media (max-width: 690px) {
  main {
    max-width: 550px;
  }

  .replied {
    max-width: 450px;
  }
}

@media (max-width: 570px) {
  main {
    max-width: 480px;
  }

  .container {
    flex-direction: column-reverse;
    position: relative;

    > .vote--container {
      padding: 2px 4px;
      flex-direction: row;
      gap: 0.5rem;

      & > :last-child {
        padding-bottom: 5px;
      }

      .reply,
      .deledit {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 0;
        color: $moderateBlue;
        font-weight: 500;
        margin-right: 10px;

        figure {
          margin-right: 5px;
        }
      }
    }

    .details > .reply,
    .details > .deledit {
      display: none;
    }
  }

  .replied {
    max-width: 380px;
  }
}

.hidden {
  display: none;
}

@media (max-width: 480px) {
  main {
    max-width: 400px;
  }
}

@media (max-width: 400px) {
  main {
    max-width: 350px;
  }

  .replied {
    max-width: 350px;
  }
}

@media (max-width: 360px) {
  main {
    max-width: 310px;
  }

  .replied {
    max-width: 310px;
  }
}

@media (min-width: 570px) {
  .vote--container {
    > .reply,
    .deledit {
      display: none;
    }
  }
}
