@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

@import "config";

%style-shared {
  display: flex;
  align-items: center;
  justify-content: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  width: 100%;
  height: 100%;
  @extend %style-shared;
  font-family: "Rubik", sans-serif;
  background-color: $lightGray;
  font-size: 14px;
  position: relative;
}

main {
  width: 700px;
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

span {
  color: $moderateBlue;
  font-weight: 700;
}

.user {
  color: $white;
  padding: 1px 4px;
  font-weight: 500;
  background-color: $moderateBlue;
  border-radius: 3px;
}

.comment--section {
  background-color: $white;
  padding: 15px;
  @extend %style-shared;
  border-radius: 5px;
  align-items: flex-start;
  gap: 1rem;
}

.vote--container {
  @extend %style-shared;
  flex-direction: column;
  background-color: $lightGray;
  padding: 10px 5px;
  border-radius: 5px;
  gap: 1rem;
  cursor: pointer;
}

.content-main {
  @extend %style-shared;
  flex-direction: column;
  gap: 0.5rem;

  > .content {
    color: $grayishBlue;
    width: 600px;
  }
}

.details-tab {
  @extend %style-shared;
  justify-content: space-between;
  width: 100%;

  > .userinfo--sect {
    @extend %style-shared;
    gap: 0.5rem;

    > img {
      width: 30px;
    }

    > .name {
      color: $grayishBlue;
      font-weight: 700;
    }

    > .time {
      color: $grayishBlue;
    }
  }
}

.reply {
  @extend %style-shared;
  gap: 0.2rem;
  text-transform: capitalize;
  cursor: pointer;

  &:hover {
    opacity: 0.5;
  }
}

.mobile--reply {
  display: none;
}

.replyBoxSection {
  background-color: $white;
  padding: 15px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 0.5rem;

  .info > img {
    width: 40px;
  }

  > .replyTextArea {
    width: 100%;
    padding: 15px 10px;
    font-family: "Rubik", sans-serif;
    border-radius: 5px;
    border-color: $moderateBlue;
    outline: none;
    font-size: 16px;
    height: 80px;
    color: $darkBlue;
    font-weight: 400;
  }
}

.updateComment {
  width: 555px;
  padding: 15px 10px;
  font-family: "Rubik", sans-serif;
  border-radius: 5px;
  border-color: $moderateBlue;
  outline: none;
  font-size: 16px;
  height: 80px;
  color: $darkBlue;
  font-weight: 400;
}

button {
  padding: 10px 15px;
  text-transform: uppercase;
  background-color: $moderateBlue;
  border: none;
  border-radius: 5px;
  color: $white;
  cursor: pointer;

  &:hover {
    opacity: 0.5;
  }
}

.info > button {
  display: none;
}

section.replies {
  @extend %style-shared;
  align-items: stretch;
  margin-top: 10px;
  justify-content: space-between;

  > .border {
    width: 1px;
    border: 1px solid $grayishBlue;
    min-height: 100%;
    margin-left: 40px;
  }
}

.replied--container {
  max-width: 650px;
  margin-left: 30px;

  .content {
    width: 555px;
  }
}

.replied--comment {
  margin-top: 10px;
}

.user--comment--section {
  background-color: $white;
  padding: 15px;
  @extend %style-shared;
  align-items: flex-start;
  border-radius: 5px;
  width: 100%;
  gap: 1rem;

  .image--section > img {
    width: 35px;
  }

  > .commentTextArea {
    width: 100%;
    padding: 15px 10px;
    font-family: "Rubik", sans-serif;
    border-radius: 5px;
    border-color: $moderateBlue;
    outline: none;
    font-size: 16px;
    height: 80px;
    color: $darkBlue;
    font-weight: 400;
  }
}

.image--section > button {
  display: none;
}

.updatereply {
  @extend %style-shared;
  gap: 1rem;
  text-transform: capitalize;

  > .del:hover,
  .edit:hover {
    opacity: 0.5;
    cursor: pointer;
  }
}

@media (max-width: 500px) {
  main {
    max-width: 400px;
  }

  .content-main > .content {
    width: 350px;
  }

  section {
    flex-direction: column-reverse;
  }

  div.vote--container {
    padding: 5px 10px;
    flex-direction: row;
  }

  .replymobile {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    > .mobile--reply {
      display: flex;
    }
  }

  .desktop--reply {
    display: none;
  }

  .replyBoxSection > button {
    display: none;
  }

  .info > button {
    display: flex;
  }

  .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  section.replies {
    align-items: flex-end;

    > .border {
      margin-left: 10px;
    }
  }

  .replied--container {
    max-width: 390px;

    .content {
      width: 350px;
    }
  }

  .image--section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    > button {
      display: flex;
    }
  }

  .user--comment--section > button {
    display: none;
  }

  .updateComment {
    width: 350px;
  }
}

footer {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

section.hidden {
  display: none;
}
